*{
    margin: 1mm;
    padding: 1mm;
}
H1 { color: black;
    text-align: centre;
       
     }
html{
    background:white;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover; 
    
}
body{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/*
ol {
    list-style-type: bold;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: block
    background-color: black;
}

ol li {
    float: left;
}
*/
p, ul {
    margin-left: 20px;
    margin-right: 20px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: None;
}

li a:hover {
    background-color: blue;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;}  

    

.topnav li a.active {
    background-color: grey;
    color: white;
}
/*ul.topnav li a:hover:not(.active) {background-color: aqua;} */
  
  
@media screen and (max-width: 600px) { 
    ul.topnav li {float: none;}
  }

.card {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    box-shadow: 5px 5px 5px 5px lightgrey;
}
 .card:hover{
    box-shadow: 5px 5px 5px 5px grey;}
.image {
    width: 50%;
    height: 30%;
    padding: 0px;
    object-position: center;
}
.cv {
    object-position: center;
    padding-left: 10%;
    padding-right: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  

.footer {
    padding: 15px 20px;
    text-align: center;
    background:#333;
    margin-top: 20px;
    color:white;
  }
  .footer a {
      color: white;
  }