{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="card-deck"><div class="card mb-3">
        <img src="{% static 'Images/no_human_is_limited.jpg' %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="Chania">
        <div class="card-body">
          <h5 class="card-title"><a href="https://medium.com/@timothymadegwa/no-human-is-limited-3afc2a53b3ed" target="_blank">NO HUMAN IS LIMITED</a></h5>
          <p class="card-text">Eliud Kipchoge proved No Human Is Limited when he became the first human in history to run a sub-two-hour marathon in the city of Vienna, 
            Austria on the morning of 12th October 2019. Kipchoge ran the 42.195 KM distance in a remarkable time of 1:59:40.
            This blog is in two parts, in the first part I  looked at the two fastest unofficial marathon times ran by Eliud in Breaking 2 
            and during the Ineos Challenge. In the 2nd part, compared Eliud Kichoge’s World record time of 2:01:39 and Kenanisa Bekele’s time of 2:01:41 
            at the 2019 Berlin Marathon. 
            Click <a class="btn btn-success" role="button" href="https://medium.com/@timothymadegwa/no-human-is-limited-3afc2a53b3ed" target="_blank">here</a> to have a read.</p>
        </div>
      </div>
      <div class="card mb-3">
        <img src="{% static 'Images/graph.png' %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="Chania" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title"><a href="https://medium.com/@timothymadegwa/analysis-of-heart-disease-and-how-it-affects-the-sexes-8c68da6dceda" target="_blank">ANALYSIS OF HEART DISEASE AND HOW IT AFFECTS THE SEXES</a></h5>
          <p class="card-text">This is a blog post on medium that I wrote in 2018 looking at the distribution of people with a heart problems mainly focusing on their sex and whether they experienced some sort of chest pain (Angina).
            It was is a post with a very special place in my heart as I have alot of passion in using Data Science and AI in Healthcare as I aim to use this technology to enable early detection of dieseses with out long, painful and expesive tests.
            this blog post only goes in the statistical distribution of the various groups and not the prediction using Machine Learning algorithms.
            Click <a class="btn btn-success" role="button" href="https://medium.com/@timothymadegwa/analysis-of-heart-disease-and-how-it-affects-the-sexes-8c68da6dceda" target="_blank">here</a> to have a read.</p>
        </div>
      </div>
    </div></div>
  </body>
 {% endblock content %}