{% extends 'base.html' %}
{% load static %}

{% block content %}
      
      <div class="card-deck"><div class="card">
        <img src="{% static 'Images/IMG_0219.jpg' %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="Chania">
        <div class="card-body">
          <h5 class="card-title">TIMOTHY MADEGWA</h5>
          <p class="card-text">My name is Timothy Madegwa, I pursued a Bachelor of Science in Mathematics and Computer Science at Jomo Kenyatta University of Agriculture and Technology (J.K.U.A.T) Karen Campus and graduated with a Second Class (Upper Division) in November 2017.
            I am  self taught Machine Learning Engineer (using Python) and I am passionate about all things Machine Learning.
            <br><br>I am interested in working with companies with customer data to improve on their customer experiences by harnessing the power of Data Analytics and Machine Learning. 
            From my background in Mathematics and Computer Science, I gained knowledge in computer programming, statistical analysis, mathematical modelling, data visualizations, enabling me to analyze and get insights from data.
            <br>I created an Application called Kopapap that gives instant credit scores to borrowers and reduces the amount of risk to the lender by leveraging the power of Machine Learning. This application also reduces on the amount of time it takes to go through the loan screening process hence making it easier to acquire a small loan. 
            <br><br>I am a hardworking, passionate and self-driven young man ready to take on the challenges of the work force so as to make my country better.
            <br>One of my major goals in life is to create Machine Learning software that will be a that will impact the Health Care sector especially in the early diagnosis of diseases and predictive tests that will avoid long, painful tests.
          </p>
        
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SKILLS</h5>
          <p class="card-text">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">Machine Learning <span class="badge badge-success badge-pill">8/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Python <span class="badge badge-success badge-pill">9/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Data Science <span class="badge badge-success badge-pill">9/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Sci-Kit Learn(Ensemble methods, Linear Regression, Decision Trees, Clustering methods) <span class="badge badge-success badge-pill">9/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Pandas, NumPy, Matplotlib <span class="badge badge-success badge-pill">9/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Power BI <span class="badge badge-success badge-pill">7/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Microsoft Office <span class="badge badge-success badge-pill">8/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">HTML and CSS <span class="badge badge-success badge-pill">8/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Flask and Django Web development <span class="badge badge-success badge-pill">7/10</span></li><br>
              <li class="list-group-item d-flex justify-content-between align-items-center">Enterprise Risk Management <span class="badge badge-success badge-pill">7/10</span></li><br>
            </ul></p>
          
        </div>
      </div></div><br><br>
    </div>  
  </body>
{% endblock content %}